.nav-link {
    :hover {
        font-weight: bold;
        text-decoration: underline;
    }

}


/*
.gallery {
    margin: 0.5em -4px 1.5em -4px;
    font-size: 0;
    text-align: center;
    position: relative;

    a {
        position: relative;
        text-align: center;

        span {
            position: absolute;
            z-index: 100;
            font-size: .75rem;
            line-height: 1.25rem;
            text-align: center;
            left: 0%;
            background-color: white;
        }
    }
}
*/